.div-login{
    width:400px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    border: 1px solid #e21f1f;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10vh;
    background-color: rgb(22, 19, 19);
} 

input{
    width: 95%;
    border: 1px solid #c42525;
    padding: 5px;
    margin: 2px 0;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

button{
    width: 95%;
    margin: 5px 0;
    background-color: dodgerblue;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 5px;
}